body {
  min-height: 100vh;
  background-image: url('/static/img/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: auto;
}

.serif {
  font-family: sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings: 'slnt' 0;
}

.inter-light {
  font-family: 'Inter', sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings: 'slnt' 0;
}

.bg-green {
  background-color: #1db954;
}

.button {
  cursor: pointer;
  transition: all 0.3s ease; /* Smooth transition */
}

.button:hover {
  transform: scale(1.1); /* Slightly increase the size */
  background-color: #00dd4e; /* Slightly darker green */
  border: 1px solid#ffffff;
}
