<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Playlist</title>

    <!-- Bootstrap packages -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>

    <!-- Inter font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
      rel="stylesheet"
    />

    <!-- style.css -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>

  <body class="bg-dark text-light">
    {% include 'navbar.html' %}
    <div class="container serif my-5 large-text">
      <h1 class="my-5">Create Playlist</h1>
      <div id="form-container">
        <form id="playlist-form">
          <div class="form-group my-3">
            <label for="playlist_name">Playlist Name:</label><br />
            <input
              type="text"
              id="playlist_name"
              name="playlist_name"
              required
            />
          </div>
          <button
            class="px-3 py-2 button rounded-pill bg-green btn-sm text-light"
            type="submit"
          >
            Create Playlist
          </button>
        </form>
      </div>
      <div id="status-container" class="my-5" style="display: none">
        <h3>Generating Playlist...</h3>
        <div id="status"></div>
      </div>
    </div>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Socket.IO -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.min.js"></script>
    <script>
      $(document).ready(function () {
        var socket = io();

        $('#playlist-form').on('submit', function (e) {
          e.preventDefault();

          var playlistName = $('#playlist_name').val();
          $.ajax({
            type: 'POST',
            url: '/create_playlist',
            data: { playlist_name: playlistName },
            success: function () {
              $('#form-container').hide();
              $('#status-container').show();
            },
            error: function (xhr, status, error) {
              alert('An error occurred: ' + error);
            },
          });

          socket.on('status_update', function (data) {
            var statusDiv = $('#status');
            var newStatus = $('<p></p>').text(data.status);
            statusDiv.append(newStatus);
          });

          socket.on('redirect', function (data) {
            window.location.href = data.url;
          });
        });
      });
    </script>
  </body>
</html>
