<nav
  class="navbar navbar-dark bg-spotify-black navbar-expand-lg p-3 border-bottom border-white"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="#">SpotAI</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <img
        src="{{ session['user_image'] if session['user_image'] else url_for('static', filename='img/DefaultProfileImage.svg') }}"
        alt="Profile Picture"
        class="rounded-circle"
        width="40"
        height="40"
      />
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      {% if session.get('token') %}
      <div class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdownMenuLink"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <img
            src="{{ session['user_image'] if session['user_image'] else url_for('static', filename='img/DefaultProfileImage.svg') }}"
            alt="Profile Picture"
            class="rounded-circle"
            width="40"
            height="40"
          />
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><p>{{session['user_name']}}</p></li>
          <li>
            <a class="nav-item nav-link" href="{{ url_for('logout') }}"
              >Logout</a
            >
          </li>
        </ul>
      </div>
      {% else %}
      <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
      {% endif %}
    </div>
  </div>
</nav>
