<nav
  class="navbar navbar-expand-xs navbar-dark bg-spotify-black text-light border-bottom border-light"
>
  <div class="container-fluid">
    <a class="navbar-brand" href={{ url_for('index') }}>SpotAI</a>
    {% if session.get('token') %}
    <button
      class="navbar-toggler ms-auto border-0"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <img
        src="{{ session['user_image'] if session['user_image'] else url_for('static', filename='img/DefaultProfileImage.svg') }}"
        alt="Profile Picture"
        class="rounded-circle w-40"
        width="40px"
        height="40px"
      />
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link ms-auto active" aria-current="page" href="#">Home</a>
        <a class="nav-link ms-auto" href="#">Features</a>
        <a class="nav-link ms-auto" href="#">Pricing</a>
        <a class="nav-link ms-auto" href="{{ url_for('logout') }}">Logout</a>
      </div>
    </div>
    {% else %}
    <a class="nav-link" href="{{ url_for('login') }}">Login</a>
    {% endif %}
  </div>
</nav>
